.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.not-found-img {
  width: 400px;
}

.notFound-heading {
  color: #334155;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 30px;
}
.notFound-para {
  color: #334155;
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 17px;
}
